.container {
  min-height: 100vh;
  margin: 0 auto;
  background: #eee;
  padding: 30px;
}

.button-container {
  min-height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.title-container h3 {
  margin-bottom: 20px;
  color: #00858D;
}
